* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #151414;
    border: 1px solid #000;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 119px;
    align-items: center;
}

.logo{
    margin-left: 56px;
    width: 15%;
}

.navbar-items{
    display: flex;
    justify-content: space-between;
    color: #959595;
    font-family: Inter;
    font-size: 18.667px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.373px;
    width: 26%;
}

.navbar-items div{
    margin: 0px;
    padding-right: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-items div:hover{
    cursor: pointer;
}

.learning-menu-heading-active{
    color: white;
}

.challenge-menu-heading-active{
    color: white;
}

.opportunities-menu-heading-active{
    color: white;
}

.custom-container{
    padding: 0px;
}

.custom-container:hover{
    transform: scale(1.1);
}

.drp-down-btn1{
    padding: 0px;
    margin: 0px;
}

.drp-down-btn-flipped{
    padding: 0px;
    margin: 0px;
    transform: rotateX(180deg);
}

.search-parent{
    display: flex;
    height: 39%;
    align-items: center;
}

.search{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.search-child2{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.search-child2 img{
    height: 100%;
}

.search-box{
    height: fit-content;
    position: relative;
}

.input-search{
height: 39px;
width: 39px;
border-style: none;
font-size: 18px;
letter-spacing: 2px;
outline: none;
transition: all .5s ease-in-out;
background: #2E2E2E;
color:#fff;
border-radius: 10px;
padding-left: 20px;
right: 0;
}

.input-search::placeholder{
color:rgba(255,255,255,.5);
letter-spacing: 2px;
font-weight: 100;
font-family: Inter;
font-size: 14px;
}

.btn-search{
width: 39px;
height: 39px;
border-radius: 10px;
border-style: none;
font-size: 20px;
font-weight: bold;
outline: none;
cursor: pointer;
position: absolute;
right: 0px;
color:#ffffff;
pointer-events: painted;  
background: #151414;
}

.btn-search:focus ~ .input-search{
width: 300px;
border-radius: 10px;
background: #2E2E2E;
transition: width 0.3s ease-in-out;
left: 0;
}

.input-search:focus{
width: 300px;
border-radius: 10px;
background: #2E2E2E;
transition: width 0.3s ease-in-out;
}

.dropdown-container{
   margin-right: 56px;
   width: fit-content;
}

.dropdown-box{
    display: flex;
    justify-content: right;
}

.login-button{
    color: white;
    margin-left: 20px;
    font-family: Inter;
    color: #959595;
    border: 1px solid #959595;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    align-items: center;
}

.login-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.user-login-button{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    font-family: Inter;
    color: #959595;
    border: 1px solid #959595;
    padding-top: 6px;
    padding-bottom: 6px;
    align-items: center;
    border-radius: 5px;
}

.user-login-button div{
    padding-left: 10px;
    padding-right: 10px;
}

.user-login-button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.userimg{
    height: 20px;
    width: 20px;
}

.userimg-box{
    padding: 0px;
    margin: 0px;
}

.learning-dropdown-hidden-box{
    display: none;
}

.learning-dropdown-box{
    display: block;
    background: #2E2E2E;
    position: absolute;
    width: 100%;
    opacity: 95%;
    z-index: 2;
}

.learning-dropdown{
    height: fit-content;
    width: 100%;
    padding-left: 56px;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.events-box{
    width: 260px;
    margin-right: 20px;
}

.courses-box{
    width: 260px;
    margin-left: 20px;
}

.events-box:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.courses-box:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.events-text{
    margin-top: 20px;
    font-family: Inter;
    color: #959595;
}

.courses-text{
    margin-top: 20px;
    font-family: Inter;
    color: #959595;
}

.events-text-heading{
    margin-bottom: 10px;
    font-weight: 500;
    color: #FFFFFF;
}

.courses-text-heading{
    margin-bottom: 10px;
    font-weight: 500;
    color: #FFFFFF;
}

.shutter-element{
    display: flex;
    justify-content: center;
}

.element{
    width: fit-content;
    height: fit-content;
}

.element:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.challenge-dropdown-hidden-box{
    display: none;
}

.challenge-dropdown-box{
    display: block;
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 30px;
    background: #2E2E2E;
    height: 352px;
    position: absolute;
    width: 100%;
    opacity: 95%;
    z-index: 2;
}

.soon-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91%;
}

.opportunities-dropdown-hidden-box{
    display: none;
}

.opportunities-dropdown-box{
    display: block;
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 30px;
    background: #2E2E2E;
    height: 352px;
    position: absolute;
    width: 100%;
    opacity: 95%;
    z-index: 2;
}

.user-dropdown-hidden{
    display: none;
}

.user-dropdown{
    display: block;
    box-shadow: 0px 0px 6px 1px #0000001A;
    width: fit-content;
    font-family: Inter;
    padding-bottom: 10px;
    position: absolute;
    background-color: white;
    z-index:2;
}

.user-details-box{
    display: flex;
    align-items: center;
    justify-content:center;
    background: #F1F1F1;
    height: fit-content;
    padding: 10px 10px 10px 0px;
    font-weight: 500;
    color: #2E2E2E;
}

.userimg-box-dd{
    padding-right: 5px;
}

.userimg-dd{
    height: 40px;
    width: 40px;
}

.email{
    color: #959595;
    font-size: 12px;
}

.dropdown-items{
    padding: 5px 5px 5px 0px;
    padding-left: 20px;
    margin: 5px 10px 10px 10px;
    font-size: 15px;
    font-weight: 400;
}

.dropdown-items:hover{
    cursor: pointer;
    background-color: #F1F1F1;
    color: #0735D0;

}

.dropdown-items a{
    text-decoration: none;
    color: inherit;
}

.section1{
    border: 0.5px solid #F1F1F1
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #2D2D2D;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }