{% comment %} <form method="post" action="{% url 'dob' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_date_of_birth">Date of Birth:</label>
        <input type="date" name="date_of_birth" id="id_date_of_birth" class="form-control" placeholder="Date of Birth">
    </div>
    
    <div class="form-group">
        <label for="id_location">Location:</label>
        <input type="text" name="location" id="id_location" class="form-control" placeholder="Location">
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form> {% endcomment %}
{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block styles %}
<style>
    .content-container{
        height: auto;
        display: flex;
        width: 445px;
    }
.step{
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    color: #666666;
    margin-top:50px;
    margin-left:60px;
    }
.b-test{
  margin-left:60px; 
    margin-top:40px;
}
.birthday {
    font-size: 20px;
    font-weight: bold;
    margin-left:60px;
    margin-top:10px;
    
}
/* CSS for form layout */
.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:fit-content;
    margin-top:25px;
}



.form-group.col {
    margin-top:50px;
    justify-content:center;
}
.form-birthday{
    margin-left:30px;

}
.form-group {
    margin-bottom: 1rem;
    margin-right: 1rem; /* Adjust the margin between input boxes */
}
.form-control{
      width:100%;
      height:40px;
      padding-left: 5px;
      color: #969696;
}
.para-dob{
    margin-top:10px;
    margin-right:10px;
    font-size:14px;
    color: #969696;

}
.location
{
    margin-right:60px;
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
}
.form-location{
    width:488px;
    margin-top:20px;
}
.para2{
    margin-top:20px;
    font-size:14px;
    color: #969696;

}
.square{
    height:555px;
    padding-right:100px;
   
}
.continue-button{
    width:485px;
}
.form-row div{
    margin-right: 20px;
}
.col-day{
    width:95px;

}
.col-my{
    width:175px;
}
.content{
    margin-top:57px;
    margin-bottom:57px;
}

</style>
{% endblock %}
{% block body %}
<div class="wrapper">
    <div class="content"> 
        <div class="square">
            <div class="b-test"><svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.65138 24.0326C14.2799 24.0326 17.8693 20.403 17.8693 15.4161C17.8693 10.4293 14.3113 6.8312 9.68286 6.8312C7.13248 6.8312 4.99141 7.90432 3.82642 9.82962H3.54305V0.203125H0.929688V23.4014H3.54305V20.9395H3.82642C4.99141 22.8964 7.03802 24.0326 9.65138 24.0326ZM9.368 21.6655C5.936 21.6655 3.44859 18.9196 3.44859 15.4161C3.44859 11.9127 5.936 9.19838 9.368 9.19838C12.7685 9.19838 15.2559 11.9127 15.2559 15.4161C15.2559 18.9827 12.7685 21.6655 9.368 21.6655Z" fill="black"/>
                <path d="M20.5623 23.8117C21.5699 23.8117 22.2941 23.0858 22.2941 22.0758C22.2941 21.0658 21.5699 20.3399 20.5623 20.3399C19.5233 20.3399 18.8306 21.0658 18.8306 22.0758C18.8306 23.0858 19.5233 23.8117 20.5623 23.8117Z" fill="black"/></svg>
            </div> 
            <div class="content-container">
                <div class="content-box">
                <div class="step">Step 4/6</div>
                <div class="birthday">
                    When is your Birthday?
                </div>
                <div class="form-birthday">
                    <div class="form-birthday">
                        <form method="post" action="{% url 'dob' %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-day">
                                    <input type="number" name="day" id="id_day" class="form-control" placeholder="Day" min="1" max="31">
                                </div>
                                <div class="col-my">
                                    <select name="month" id="id_month" class="form-control">
                                        <option value="" disabled selected hidden class="month">Month</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="col-my">
                                    <input type="number" name="year" id="id_year" class="form-control" placeholder="Year" min="1900" max="2099">
                                </div>
                            </div>
                            <div class="para-dob">
                                Knowing your birth date allows us to enhance your blooming experience
                            </div>  
                            <div class="location">
                                Where are you currently based of ?
                            </div> 
                        <div class="form-location">
                        <input type="text" name="location" id="id_location" class="form-control" placeholder="Location">
                        </div>
                         <div class="para2">
                            Knowing your location allows us to connect you locally with the community
                        </div>
                        <div>
                            <button type="submit" class="continue-button">Next</button> 
                        </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% include 'footer.html' %}
