{% load static %}
{% include "header.html" %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{%block styles %}
<style>
.square{
    height:515px;
    padding-right:100px;
    width:600px;
}
.content-container{
    height: auto;
    display: flex;
    width: 445px;
    }
.step{
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    color: #666666;
    margin-bottom:5px;
    margin-right:30px;
    }
.selected {
    background-color: black;
    color: white; 
    }

.right{
    background: #8FC7FF;
    width:300px;
    margin-left:125px;
    position: relative;
}
.content{
    display: flex;
    justify-content: right;
    height:570px;
    margin-left: 100px;
    margin-top:58px;
}

.wrapper2{
    display:flex;
    justify-content: flex-end;
}

.left{
    height: 300px;
}
.saly{
    height:fit-content;
    width: fit-content;
}

.saly img{
    width:343px;
    height:570px;
    z-index:1;
    position:absolute;
    right:70px;
    top:59px;
}

.want{
    font-size: 24px;
    font-weight: bold;
    font-family:'Inter', sans-serif;
    margin-top:31px;
}

.para4{
    font-size:13px;
    font-family:'Inter', sans-serif;
    color: #666666;
    margin-top:20px;
    margin-bottom:15px;

}
.buttons
{
    margin-top:20px;
    width:260px;
    height:30px;
    display:flex;
    justify-content:space-between;
}
.button1{
    width:117px;
    background: #3E46E0;
    color:white;
    border:0px;

  
}
.button1:hover{
    cursor:pointer;
    transform:scale(1.1)
}

.interest-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 2px 10px;
    margin: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height:24px;
  }
  
  .interest-button.selected {
    background-color: black;
    color: white;
  }

</style>
{% endblock%}


{% block body %}
<div class="wrapper2">
    <div class="content"> 
        <div class="left">
            <div class="square">
                <div class="b">
                    <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28.6514 39.0326C33.2799 39.0326 36.8693 35.403 36.8693 30.4161C36.8693 25.4293 33.3113 21.8312 28.6829 21.8312C26.1325 21.8312 23.9914 22.9043 22.8264 24.8296H22.543V15.2031H19.9297V38.4014H22.543V35.9395H22.8264C23.9914 37.8964 26.038 39.0326 28.6514 39.0326ZM28.368 36.6655C24.936 36.6655 22.4486 33.9196 22.4486 30.4161C22.4486 26.9127 24.936 24.1984 28.368 24.1984C31.7685 24.1984 34.2559 26.9127 34.2559 30.4161C34.2559 33.9827 31.7685 36.6655 28.368 36.6655Z" fill="black"/>
                        <path d="M39.5623 38.8117C40.5699 38.8117 41.2941 38.0858 41.2941 37.0758C41.2941 36.0658 40.5699 35.3399 39.5623 35.3399C38.5233 35.3399 37.8306 36.0658 37.8306 37.0758C37.8306 38.0858 38.5233 38.8117 39.5623 38.8117Z" fill="black"/>
                    </svg>
                </div> 
                <div class="content-container">
                    <div class="content-box">
                        <div class="step">Step 6/6</div>
                        <div class="want">What are your Top 3 Interests? </div>
                        <div class="para4">Search for your favourite interests, anything from art to artificial intelligence.</div>
                        <form method="POST" action="{% url 'save_top_interest_view' %}">
                            {% csrf_token %}
                            <div>
                                {% for interest in interests %}
                                    <button type="button" class="interest-button" data-interest-id="{{ interest.id }}">{{ interest.interest_name }}</button>
                                {% endfor %}
                            </div>
                            <div class="buttons">
                                <input type="hidden" name="selected_interests" id="selected_interests" value="">
                                <button type="submit" class="button1">Finish</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="saly">
        <img src="{% static 'img/Saly-14.png' %}">
        </div>
    </div>
</div>

<script>
var selectedInterests = [];

// Attach click event listeners to the purpose buttons
document.querySelectorAll('.interest-button').forEach(function(button) {
    button.addEventListener('click', function() {
        var interestId = this.getAttribute('data-interest-id');
        toggleInterest(interestId);
    });
});

function toggleInterest(interestId) {
    var index = selectedInterests.indexOf(interestId);
    if (index === -1) {
        selectedInterests.push(interestId);
        document.querySelector('.interest-button[data-interest-id="' + interestId + '"]').classList.add('selected');
    } else {
        selectedInterests.splice(index, 1);
        document.querySelector('.interest-button[data-interest-id="' + interestId + '"]').classList.remove('selected');
    }
    document.getElementById('selected_interests').value = selectedInterests.join(',');
}
</script>

{% endblock %}
{% include "footer.html" %}