{% load static %}
{%include 'header.html' %}
haiiiiiiiiiiiiiiiiiiiii {{user.username}}<br>
hi<br>
haiiiiiiiiiiiiiiiiiiiii<br>
hi<br>
haiiiiiiiiiiiiiiiiiiiii<br>
hi<br>
haiiiiiiiiiiiiiiiiiiiii<br>
hi<br>
haiiiiiiiiiiiiiiiiiiiii<br>
hi<br>
haiiiiiiiiiiiiiiiiiiiii<br>
hi<br>
haiiiiiiiiiiiiiiiiiiiii<br>
hi<br>
haiiiiiiiiiiiiiiiiiiiii<br>
hi<br>
haiiiiiiiiiiiiiiiiiiiii<br>
hi<br>
haiiiiiiiiiiiiiiiiiiiii<br>
hi<br>
haiiiiiiiiiiiiiiiiiiiii<br>
hi<br>
haiiiiiiiiiiiiiiiiiiiii<br>
hi<br>
haiiiiiiiiiiiiiiiiiiiii<br>
hi<br>
haiiiiiiiiiiiiiiiiiiiii<br>
hi<br>
{% include 'footer.html' %}