{% load static %}
{% include "header.html" %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{%block styles %}
<style>
.square{
    height:515px;
    padding-right:100px;
    width:600px;
}
.content-container{
    height: auto;
    display: flex;
    {% comment %} justify-content: center; {% endcomment %}
    width: 445px;
    }
.step{
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    color: #666666;
    margin-bottom:5px;
    margin-right:30px;
    }
.selected {
    background-color: black;
    color: white; 
    }

.right{
    background: #E5D0F5;
    width:300px;
    margin-left:125px;
    position: relative;
}
.content{
    display: flex;
    justify-content: right;
    height:570px;
    margin-left: 100px;
    margin-top:58px;
}

.wrapper2{
    display:flex;
    justify-content: flex-end;
}

.left{
    height: 300px;
}
.saly{
    height:fit-content;
    width: fit-content;
}

.saly img{
    width:502px;
    height:688px;
    z-index:1;
    position:absolute;
    bottom:-23px;
    right:1px;
}

.want{
    font-size: 24px;
    font-weight: bold;
    font-family:'Inter', sans-serif;
    margin-top:31px;
}

.para4{
    font-size:13px;
    font-family:'Inter', sans-serif;
    color: #666666;
    margin-top:20px;
    margin-bottom:15px;

}
.buttons
{
    margin-top:20px;
    width:260px;
    height:30px;
    display:flex;
    justify-content:space-between;
}
.button1{
    width:117px;
    background: #3E46E0;
    color:white;
    border:0px;

  
}
.button2{
    width:117px;
    background: #878787;
    color:white;
    border:0px;

}
.button1:hover{
    cursor:pointer;
    transform:scale(1.1)
}
.button2:hover{
    cursor:pointer;
    transform:scale(1.1)
}

</style>
{% endblock%}


{% block body %}
<div class="wrapper2">
    <div class="content"> 
        <div class="left">
            <div class="square">
                <div class="b">
                    <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28.6514 39.0326C33.2799 39.0326 36.8693 35.403 36.8693 30.4161C36.8693 25.4293 33.3113 21.8312 28.6829 21.8312C26.1325 21.8312 23.9914 22.9043 22.8264 24.8296H22.543V15.2031H19.9297V38.4014H22.543V35.9395H22.8264C23.9914 37.8964 26.038 39.0326 28.6514 39.0326ZM28.368 36.6655C24.936 36.6655 22.4486 33.9196 22.4486 30.4161C22.4486 26.9127 24.936 24.1984 28.368 24.1984C31.7685 24.1984 34.2559 26.9127 34.2559 30.4161C34.2559 33.9827 31.7685 36.6655 28.368 36.6655Z" fill="black"/>
                        <path d="M39.5623 38.8117C40.5699 38.8117 41.2941 38.0858 41.2941 37.0758C41.2941 36.0658 40.5699 35.3399 39.5623 35.3399C38.5233 35.3399 37.8306 36.0658 37.8306 37.0758C37.8306 38.0858 38.5233 38.8117 39.5623 38.8117Z" fill="black"/>
                    </svg>
                </div> 
                <div class="content-container">
                    <div class="content-box">
                        <div class="step">Step 5/6</div>
                        <div class="want">I want to </div>
                        <div class="para4">Share your purpose: Tell us your Top 5 reasons for being here</div>
                        <form method="POST" action="{% url 'save_top_purposes_view' %}">
                            {% csrf_token %}
                            <div class="buttpurpose">
                                {% for purpose in purposes %}
                                    <button type="button" class="purpose-button" data-purpose-id="{{ purpose.id }}">{{ purpose.purpose_name }}</button>
                                {% endfor %}
                            </div>
                            <input type="hidden" name="selected_purposes" id="selected_purposes" value="">
                            <div class="buttons">
                            <button type="submit" class="button1">Next</button>
                            <button type="button" name="skip" onclick="submitFormAndRedirect('{% url 'profile' %}')" class="button2">Skip</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="saly">
        <img src="{% static 'img/Saly-16.png' %}">
        </div>
    </div>
</div>

<script>
        function submitFormAndRedirect(url) {
            document.getElementById('selected_purposes').value = ""; // Clear selected purposes
            document.querySelector('form').action = url; // Set form action to the specified URL
            document.querySelector('form').submit(); // Submit the form
        }
    var selectedPurposes = [];
  
    // Attach click event listeners to the purpose buttons
    document.querySelectorAll('.purpose-button').forEach(function(button) {
        button.addEventListener('click', function() {
            var purposeId = this.getAttribute('data-purpose-id');
            togglePurpose(purposeId);
        });
    });
  
    function togglePurpose(purposeId) {
        var index = selectedPurposes.indexOf(purposeId);
        if (index === -1) {
            selectedPurposes.push(purposeId);
            document.querySelector('.purpose-button[data-purpose-id="' + purposeId + '"]').classList.add('selected');
        } else {
            selectedPurposes.splice(index, 1);
            document.querySelector('.purpose-button[data-purpose-id="' + purposeId + '"]').classList.remove('selected');
        }
        document.getElementById('selected_purposes').value = selectedPurposes.join(',');
    }
  </script>


  {% endblock %}
{% include "footer.html" %}